/* Global */

body {
  margin: 0;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.line-break {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

/* Nav Bar */

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(179, 179, 179);
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: rgb(22, 22, 22);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-bar li a:hover {
  background-color: rgb(245, 245, 245);
}

/* Banner Image */

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/mountains-1412683_1280.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Banner Image Text Overlay */

.image-message-overlay {
  position: absolute;
  bottom: 50vh;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* Fade in hello message on banner image */
.banner-image-container:hover .image-message-overlay {
  opacity: 1;
}

/* Profile Section */

.profile-img {
  background-image: url("./images/profile-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 8em;
  width: 8em;
  border-radius: 2em;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-container {
  text-align: center;
}

/* Project Gallery */

#projects-container {
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.project-display {
  width: 485px;
  height: 150px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
}

.content {
  text-align: center;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 30px;
  max-width: 200px;
}

.project-title .project-desc {
  margin: 0;
  padding: 3px 10px 3px 0;
}

.project-title {
  font-size: 17px;
  font-weight: bold;
}

.project-desc {
  font-weight: bold;
  color: #3f3f3f;
}

.project-image {
  height: 100px;
  width: 100px;
}

/* Photo Gallery */

.photos-title {
  text-align: center;
}

#photo-gallery {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-img {
  margin-top: 8px;
  padding: 3px;
  vertical-align: middle;
  height: auto;
  width: 160px;
}

/* Responsive Design */

@media screen and (max-width: 800px) {
  #photo-gallery {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  #photo-gallery {
    width: 200px;
  }
}
